body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: #191970;
  background-color: #E0FFFF }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
